* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

html,
body {
    width: 100%;
    flex-direction: column;
    background-color: #d2eaf3;
    font-family: "Lato", sans-serif;
    background: url("./background.jpg") no-repeat;
    background-attachment: fixed;
    background-position: 50% 65%;
    background-size: auto 150%;
}

h1 {
    margin-top: 1.5rem;
    font-size: 7rem;
    font-family: "Solway", serif;
}

.container {
    text-align: center;
    max-width: 80rem;
    padding: 2rem 2rem 1rem;
    margin: 3rem auto 0;
}

.weatherSearch {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.weatherSearch label {
     font-family: "Solway", serif;
     margin-top: 1.5rem;
     font-size: 3.5rem;
}

.weatherSearch input {
     margin-top: 1.5rem;
     padding: 10px 12px;
     font-size: 2rem;
     border-radius: 5px;
     border: 1px solid grey;
     outline: none;
     box-shadow: 0px 0px 2px 2px rgba(182, 182, 182, 0.226);
}

.weatherSearch button{
     margin-top: 1.5rem;
     padding: 8px 15px;
     border-radius: 5px;
     font-size: 2rem;
     background-color: rgb(218, 218, 218);
     border: 1px solid rgb(51, 51, 51);
     outline: none;
}

.weatherSearch input:focus{
     box-shadow: 0px 0px 2px 2px rgba(52, 134, 27, 0.527);
}

.cityData {
     position: relative;
     margin-top: 3rem;
     border-radius: 20px;    
     padding: 2rem 1rem;
     background-color: rgba(255, 255, 255, 0.637);
     z-index: 1;
     text-shadow:
     0px 0px 8px rgba(217, 234, 255, 0.822),
     0px 0px 10px rgba(255, 255, 255, 0.74);
}

.cityDataBackground{
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     content: "";
     background-repeat: no-repeat;
     background-position: center center;
     opacity: 1;
     z-index: -1;
     border-radius: 20px;
     border: 1px solid black;
}

.cityDataBackground:after{
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          content: "";
          background-color: rgb(151, 151, 151);
          opacity: .3;
          z-index: 0;
          border-radius: 20px;
}

img {
     display: block;
     margin: .5rem auto 0;
     background-color: rgb(218, 218, 218);
     border: 5px dashed grey;
     border-radius: 5px;
     box-sizing: border-box;
}

.cityData h1 {
     margin: 0;
     font-size: 5rem;
}

.cityData h2{
     font-family: "Solway", serif;
     font-weight: 400;
     font-size: 3.2rem;
}

.dataGrid {
     margin-top: 2rem;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-column-gap: 1rem;
     grid-row-gap: 2rem;
}

.dataGrid h3 {
     font-family: "Solway", serif;
     font-size: 3rem;
}

.dataGrid p {
     font-size: 3rem;
     color: rgb(0, 0, 65);
     font-weight: 600;
}

.dataGrid p .identifier{
     margin-left: 3px;
     color: black;
     font-size: 2.5rem;
     font-family: "Solway", serif;
}

.dataItem {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
}

.temp {
     display: inline-block;
     margin-top: 0;
     font-size: 5rem;
     font-weight: 900;
     color: rgb(0, 0, 0);
}

.dataGrid p.low {
     color: rgb(0, 85, 0);
}

.dataGrid p.medium {
     color: rgb(221, 133, 0);
}

.dataGrid p.high {
     color: rgb(170, 0, 0);
}

footer {
     margin-top: .5rem;
     text-align: center;
}

footer p {
     font-size: 1.4rem;
}

.photographer {
     font-size: 1.4rem;
}

.degree {
     color: rgb(0, 0, 65);
     margin-left: 3px;
     font-size: 4.8rem;
}

.errorClass {
     background-color: rgb(255, 151, 151);
     font-size: 2rem;
     width: 100%;
     padding: 1rem;
     position: fixed;
     top: 0;
     text-align: center;
     z-index: 10;
}

@media (max-width: 700px) {

     h1 {
          margin-top: 0rem;
          font-size: 4rem;
          font-family: "Solway", serif;
      }

      .container {
           display: flex;
           flex-direction: column;
           margin-top: 0rem;
           width: 100%;
           height: 100vh;
           padding: 1rem 1rem;
      }

      .weatherSearch label {
          font-family: "Solway", serif;
          margin-top: .5rem;
          font-size: 3rem;
     }

     .weatherSearch input {
          margin-top: 1.5rem;
          padding: 8px 10px;
          font-size: 1.8rem;
     }

      .cityData{
           display: flex;
           flex-direction: column;
           justify-content: space-around;
           align-items: center;
           width: 100%;
           margin-top: 1.5rem;
           border-radius: 20px;    
           padding: 1.5rem 1rem;
           flex: 1 0 auto;
      }

      .cityData h1{
           font-size: 3.5rem; 
      }

     .dataGrid {
          margin-top: 1rem;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: .25rem;
          grid-row-gap: 1rem;
     }

     .dataItem h3{
          font-size: 2.25rem;
     }

     .temp {
          margin-top: 0;
          font-size: 3.5rem;
     }

     .icon {
          display: none;
     }

} 

@media (max-width: 700px) and (min-height: 800px) {


     .temp {

          font-size: 4.25rem;
     }

     .dataGrid h3{
          font-size: 2.5rem;
     }

     .icon {
          display: block;
     }


}


@media (max-width: 900px) and (orientation: landscape) {


     .container{
          padding: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          box-sizing: border-box;
     }

     .title {
          display: none;
     }

     .icon {
          display: none;
     }

     label {
          display: none;
     }

     .cityData{
          display: grid;
          grid-template-columns: 1fr 1fr;
          margin: 0 auto;
          order: 1;
          flex-grow: 1;
          height: 80vh;
     }

     .cityData h1 {
          font-size: 4.25rem;
     }

     footer {
          order: 2;
     }
     
     .weatherSearch {
          order: 3;
     }

     .searchDiv {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }

     .dataItem {
          display: flex;
          flex-direction: column;
          justify-content: center;
     }

     .dataGrid h3 {
          font-size: 2.5rem;
     }


     .dataItem p {
          font-size: 2.75rem;
     }

     .temp {
          margin-top: 0;

     }

}

@media (max-width: 600px) and (orientation: landscape) {

     .cityData h1 {
          font-size: 3.25rem;
     }

     .dataGrid h3 {
          font-size: 2.1rem;
     }

     .dataItem p {
          font-size: 2.5rem;
     }
}

@media (min-height: 400px) and (orientation: landscape) {
     .icon {
          display: block;
     }
}